.katex { font-size: 1em !important; } 

/* Main structure
----------------------------------------------- */
body {
    font-family: KaTeX_Main,Times New Roman,serif;
    font-size: 14px;
    margin: auto;
    background-color: #fff;
    text-align: left;
    display: block;
    -webkit-text-size-adjust: none;
    /*min-width: 840px;*/
}

footer {
    clear: both;
}

iframe {
    border-width: 0px;
    width: 100%;
}

/* HTML element control
----------------------------------------------- */
p {
    margin: 0 0 0 0;
    text-align: left;
    text-justify: auto;
    line-height: 1.4em;
}


blockquote {
    margin: 0 0 1em 0;
    padding: 0 30px;
    color: #808080;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

small {
    font-size: 0.8em;
}



sup, sub {
    font-size: 0.75em;
}

sup {
    vertical-align: super;
}

sub {
    vertical-align: sub;
}

hr {
    width: 100%;
    height: 1px;
    background: #ccc;
    color: #ccc;
    margin: 1em 0;
    border: none;
    padding: 0;
}

pre, code, tt {
    font-family: 'Monaco', 'DejaVu Sans Mono', 'Consolas', 'Courier', 'Courier New', monospace;
    font-size: 1em;
    line-height:1.8;
    color: #4d4d4d;
}

pre {
    margin: 0 0 1em 0;
    border: 1px solid #e5e5e5;
    padding: 0.5em 1em;
    white-space: pre-wrap;
    overflow: hidden;
    background: #fafafa;
}

code, tt {
    background: #efefef;
}

pre code, pre tt {
    background: none;
}

html > body code, html > body tt, html > body pre {
    font-size:12px;
}

h3 code {
    text-transform: none;
}

ul, ol {
    margin: 0.25em 0 1em 15px;
    padding: 0;
}
ul {
    list-style: disc;
}
li {
    line-height: 1.3em;
}
ul li {
    margin: 0 0 0.25em 0.35em;
}
ol li {
    margin: 0 0 0.25em 0.45em;
}
a { 
    text-decoration: none;
    border-bottom: 1px #ccc dotted;
    color: inherit;
}
a:hover { 
    border: 0;
}

footer {
    margin: 0.5em 0 0 0;
    border-top: 3px double #ccc;
    padding: 1em 0 0 0;
    font-size: 70%;
    color: #999;
}
rt {
    color: #777;
}
/* Headers
----------------------------------------------- */

/* The headers tries to emulate the format of
 Oxfod Lecture Series in Mathematics and Its Applications
 the paragraph and subparagraph tries to emulate the default
 latex behavior */

/* h1 is title (or chapter), h2 is section, h3 is subsection, h4 is subsubsection, h5 is paragraph
h6 is subparagraph */
h1 {
  font-size: 1.15em;
  line-height: 3em;
  font-weight: bold;
  margin: 0;
}

h2 {
    font-size: 1.15em;
    line-height: 3em;
    font-weight: bold;
    margin: 0;
}

h3 {
    font-size: 1.2em;
    font-style: italic;
    font-weight: normal;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
h4 {
    font-size: 1.1em;
    font-style: italic;
    font-weight: bold;
}
h5 {
    font-size: 1em;
    display: inline;
}
h5 + p {
  display:inline;
}
h6 {
  font-size: 1em;
  margin-left: 2em;
  display: inline;
}
h6 + p {
  display:inline;
}

#site-title {
    font-size: 2.5em;
    font-weight: normal;
    margin: 0;
    border: none;
    padding: 0;
    line-height: 100%;
    text-align:center;
}

/* Global content control
----------------------------------------------- */
img {
    max-width:100%;
    height: auto;
    margin: auto;
}


/* Display
----------------------------------------------- */

@media screen and (min-width: 114ex) {
  body {
    width: 110ex;
  }
}
@media screen and (max-width: 113ex) {
  body {
    width: 97%;
  }
}


/* Links
----------------------------------------------- */
#site-title a {
    color: #000;
    text-decoration:none;
    border: 0;
}

#article-title {
    font-size: 1.5em;
    line-height: 1.2em;
    border-bottom: 1px solid #000;
    margin-bottom: 0px;
}

/* printing hide lame things*/
@media print {
    .hide-on-print { display: none !important; }
}
.theorem-environment{
  color: #000;
  padding: 0 0;
  margin: 0.6em 0;
  font-style: italic;
}
.theorem-header {
  font-weight: bold;
  font-style: normal;
}
.theorem-header .index:before {
  content: ' ';
}
.theorem-header .name:before {
  content: ' (';
}
.theorem-header .name:after {
  content: ')';
}
.theorem-header:after {
  content: '.\2002\2002';
}
.theorem-header + p{
    display:inline;
}
.Proof .type {
  font-style: italic;
  font-weight: normal;
}
.Proof {
  padding: 0 0;
  font-style: normal;
  position: relative;
}
.Proof:after {
  content: '◾️';
  position: absolute;
  right: -12px;
  bottom: -2px;
}

table.postindex{
  width: 100%;
}
.info {
  margin-top: 20px;
  color: #999;
}
.info a {
    text-decoration: none;
    border-bottom: 1px #999 dotted;
    color: #999;
}
table.postindex cite {
  font-style: normal;
}

table.postindex td.right {
  text-align: right;
  width: 11ex;
}

.header-section-number {
    margin-right: 10px;
}
.header-section-number:after {
    content: '.';
}
/* code highlight */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin: 0; padding: 0; vertical-align: baseline; border: none; }
table.sourceCode { width: 100%; line-height: 100%; }
td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; }
td.sourceCode { padding-left: 5px; }
code > span.kw { font-weight: bold; }
code > span.dt { text-decoration: underline; }
code > span.co { font-style: italic; }
code > span.al { font-weight: bold; }
code > span.er { font-weight: bold; }

  dt {
    font-weight: normal;
    font-style: italic;
  }
  dd {
    margin: 0;
    padding: 0 0 0.5em 0;
  }

.csl-left-margin {
  display: inline;
}
.csl-right-inline {
  display: inline;
}
article {
   width: 100%;
   float: left;
}

article p + p {
    text-indent: 1.5em;
}

/* Navigation
----------------------------------------------- */
/*nav {
    margin: 10px 0 10px 0;
    position: relative;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px 0 0;
    padding: 3px 0 3px 0;
    position: relative;
    border: 0;
}
nav ul li a {
    border: 0;
}*/

/* Gist */
.gist {
  font-size: inherit !important;
}
.gist-file {
  border: none !important;
  margin-left:0em !important;
  margin-top:1em !important;
  margin-bottom:1em !important;
  margin-right:0em !important;
}
.gist .blob-code {
  line-height: inherit !important;
  padding: 0px 0px !important;
}
.gist .blob-num {
  line-height: inherit !important;
  padding: 0px 0px !important;
  display: none;
}
.gist .blob-code-inner {
  font-size: 90% !important;
}
.gist .highlight{
  line-height:inherit !important;
  font-size:inherit !important;
}
.gist-data {
  padding: 0 0 !important;
  border: 0 !important;
  border-bottom: none !important;
  border-radius: 0px !important;
}
.gist .gist-meta {
  display: none;
}
/* code highlight */
.gist .pl-k {
  font-weight: bold;
}
.gist .pl-en {
  font-style: italic;
  font-weight: bold;
}
.gist .pl-c {
  color: #999 !important;
  font-style: italic;
}
.gist .pl-c1, .gist .pl-s, .gist .pl-v, .gist .pl-smi, .gist .pl-e, .gist .pl-k, .gist .pl-en{
  color: #000 !important;
}

.abstract {
  font-size: 80%;
}

.abstract .abstract-title {
  font-weight: bold;
}

span.definition {
  font-weight: bold;
}

div.algorithm {
    display: flex;
    flex-direction:column;
    align-items:center;
    margin:10px;
    /*justify-content:center;*/
}

div.algorithm .line-block {
    display: inline-block;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
}
.smallcaps {
  font-variant: small-caps;
}

h5 span.header-section-number {
  display: none;
}
h6 span.header-section-number {
  display: none;
}
